@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;

@use "../NavModal/NavModal.scss" as *;

.cart-modal {
  @extend .navigation-modal;
  top: 7.125rem;
  left: 0;
  margin: 0 auto;
  border-radius: 0.5rem;
  max-width: 20.4375rem;
  padding: 2rem 1.75rem;

  @include tablet {
    // right: 2.5rem;
    margin-right: 2.5rem;
  }

  &__overlay {
    @extend .navigation-modal__overlay;
  }

  &__title-container {
    @include flex-spaced;
  }

  &__overview {
    @include text($site-font, 1.125rem, 700, 1, 1.29px);
  }

  &__remove-items {
    @include button-input-reset;
    text-decoration: underline;
    font-weight: 500;
    color: $alt-text;
    cursor: pointer;

    &:hover {
      color: $primary-accent;
    }
  }

  &__items {
    @include flex-centered-column;
    gap: 1.5rem;
    margin: 2rem 0;
  }

  &__subtotal-container {
    @include flex-spaced;
  }

  &__subtotal {
    line-height: 1.5rem;
    color: $alt-text;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }

  &__cost {
    font-weight: 700;
    margin: 0;
  }

  &__checkout {
    @include primary-button;
    border: none;
    width: 100%;
    margin-top: 1.5rem;
  }
}
