# Database
POSTGRES_USER=your_user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=audiophile_db
DATABASE_URL=postgresql://your_user_here:your_password_here@db:5432/audiophile_db

# Server
PORT=8080
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here

# Client
REACT_APP_API_URL=http://localhost:8080
