@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;
@use "../CheckoutForm/CheckoutForm.scss";

.checkout-summary {
  width: 100%;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  @include flex-centered-column;
  gap: 2rem;

  @include desktop {
    flex-basis: calc(33.33333333% - 1rem);
  }

  &__title {
    width: 100%;
    font-size: 1.125rem;
  }

  &__item-container {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__item-details {
    flex-grow: 1;
  }

  &__product-name {
    font-size: 0.9375rem;
  }

  &__product-price {
    margin: 0;
    color: $alt-text;
  }

  &__quantity {
    font-size: 0.9375rem;
    color: $alt-text;
    margin: 0;
    line-height: 2.25rem;
  }

  &__cost-roundup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__total {
    color: $alt-text;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    line-height: 1.5625rem;
    margin: 0;

    &--grand {
      margin-top: 1rem;
    }
  }

  &__cost {
    color: $dark-text;
    font-weight: bold;
    font-size: 1.125rem;

    &--total {
      color: $primary-accent;
    }
  }
}
