@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;

.product-page {
  &__features-wrapper {
    @include desktop {
      width: 100%;
      display: flex;
      margin: 10rem 0;
      gap: 8rem;
    }
  }
}
