@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;

.product-page {
  @include flex-centered-column;

  @include desktop {
    padding: 0 2.5rem;
  }

  &__wrapper {
    margin-left: 0.5rem;
    width: 100%;

    @include tablet {
      margin: 1rem 0 0.5rem 0.5rem;
      max-width: $max-content-width;
    }

    @include desktop {
      margin: 3.9375rem 0 2.5rem 0.5rem;
    }
  }

  &__back-button {
    border: none;
    background: none;
    color: $alt-text;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem;
    cursor: pointer;

    @include desktop {
      padding-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
