@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/keyframes' as *;

.product-features {
    
    @include tablet {
        @include flex-centering;
    }
    
    &__wrapper {
        margin: 7.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include tablet {
            max-width: $max-content-width;
            flex-grow: 1;
            margin: 7.5rem 2.5rem;
        }

        @include desktop {
            margin: 7.5rem 0;
        }
    }
}