@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;
@use "../../components/ProductCard/ProductCard.scss";

.product-cta {
  padding: 0.5rem 1.5rem;
  @include flex-centered-column;
  gap: 2rem;
  width: 100%;

  @include tablet {
    flex-direction: row;
    gap: 4.3125rem;
    max-width: $max-content-width;
    flex-grow: 1;
  }

  @include desktop {
    padding: 0.5rem 0;
    gap: 7.75rem;
  }

  &__image {
    width: 100%;
    border-radius: 0.5rem;

    @include tablet {
      width: auto;
      height: 30rem;
    }

    @include desktop {
      height: 35rem;
    }
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include tablet {
      gap: 1rem;
    }
  }

  &__new-product {
    @extend .product-card__new-product;
  }

  &__name {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;

    @include tablet {
      line-height: 2rem;
      max-width: 20ch;
    }

    @include desktop {
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
  }

  &__description {
    margin: 0;
    color: $alt-text;
    line-height: 1.6rem;
    max-width: 36ch;

    @include tablet {
      margin: 1rem 0;
    }

    @include desktop {
      max-width: 48ch;
    }
  }

  &__price {
    letter-spacing: 1.29px;
    font-size: 1.125rem;
    font-weight: 600;

    @include tablet {
      margin-bottom: 1rem;
    }

    @include desktop {
      margin-bottom: 1.75rem;
    }
  }

  &__quantity-form {
  }
}
