@use "../../partials/typography" as *;
@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;
@use "../../partials/keyframes" as *;

.product-features {
  @include tablet {
    @include flex-centering;
  }

  &__wrapper {
    margin: 7.5rem 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    @include tablet {
      max-width: $max-content-width;
      margin: 6rem 0;
      padding: 0 2.5rem;
      gap: 2rem;
    }

    @include desktop {
      margin: 3.5rem 0;
      gap: 3rem;
      align-self: center;
      padding: 0;
    }
  }
}
