@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/keyframes' as *;

.secondary-footer {
    @include flex-centered-column;
    gap: 5rem;
    margin-top: 1.25rem;
    
    @include tablet {
        gap: 1.5rem;
        margin: -2.25rem 0 1.5rem;
    }
    
    &__wrapper {
        width: 100%;
    }
}
