@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/keyframes' as *;

.site-header {
    background-color: $primary-dark;
    color: $light-text;

    @include tablet {
        padding: 0 2.5rem;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        border-bottom: 1px solid #f1f1f12c;

        @include tablet {
            gap: 2.625rem
        }
    }

    &__menu-toggle{
        height: 1rem;
    }

    &__logo {

        @include tablet {
            margin-right: auto;
        }

    }

    &__main-navigation {
        display: none;

        @include desktop {
            display: initial;
        }
    }

    &__link {

    }

    &__cart {
        height: 1.25rem;
    }
}