@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/keyframes' as *;

.hero {
    background-color: $primary-dark;
    color: $light-text;
    height: 32rem;

    &__wrapper {
        background: url(http://localhost:8080/images/home/mobile-image-header.jpg);
        height: 100%;
        width: 100%;
        background-position: 100% 100%;
        background-size: cover;
        // background-repeat: no-repeat;
    }

    &__feature-title {
        @include overline-font;
        color: $primary-light;
    }

    &__featured-product-name {
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: 1.29px;
    }

    &__featured-product-description {
        text-align: center;
    }

    &__product-link {
        @include primary-button;
    }
}