@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/keyframes' as *;

.hero {
    background-color: $primary-dark;
    color: $light-text;
    height: 32rem;

    &__wrapper {
        background: url(http://localhost:8080/images/home/mobile-image-header.jpg);
        height: 100%;
        width: 100%;
        background-position: 100% 100%;
        background-size: cover;
        display: flex;
        padding: 1.5rem;
        // background-repeat: no-repeat;
    }

    &__featured-product-container {
        @include flex-centering;
        flex-direction: column;
        gap: 1rem;
    }

    &__feature-title {
        @include overline-font;
        color: #f1f1f175;
    }
    
    &__featured-product-name {
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: 1.29px;
        text-align: center;
    }

    &__featured-product-description {
        text-align: center;
        margin: .5rem 0 .75rem;
        color: #f1f1f1b4;
    }

    &__product-link {
        @include primary-button;
    }
}