@use "./typography" as *;

// Media query breakpoint definitions
$desktop-breakpoint: 1024px;
$XL-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$max-content-width: 69.375rem;

// Site colours
$primary-accent: #d87d4a;
$secondary-accent: #fbaf85;
$primary-dark: #101010;
$primary-light: #fafafa; // Is this right?
$product-card-bg: #f1f1f1;
$light-text: #ffffff;
$alt-text: #979797;
$dark-text: #000000;
$dark-background: #191919;
$error: #cd2c2c;

$icon-hover-filter: invert(52%) sepia(34%) saturate(735%) hue-rotate(338deg)
  brightness(100%) contrast(98%);

// Fonts
$site-font: "Manrope";
